* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Condensed", sans-serif;
}
 
/* utility classes  */
.img-responsive{
    max-width: 100%;
}


.hero_image {
    background-image: url("./assets/background.avif") ;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    /* width: 1500px; */
    position: relative;

}
.hero_wrapper {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* this is used to center the text  */
}

.hero_wrapper h1{
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;

}

.form_code{
    text-align: center;
}

.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius:2rem;
    padding: .6rem;
    border: none;
    outline: none;
    margin-top: 2rem;
}
.form_code button{
    width: 40%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; */
    margin: 1rem auto 0rem;  /*(top left and right bottom) */
    text-align: center;
    background-color: rgb(31, 179, 130);
    color: white;
    padding: .6rem;
    
    border: none;
    border-radius: .3rem;

}

/* product section  */
/* .product {
    width: 90%;
    margin-top: .3rem;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
} */
#image{
height: 400px;
width: 500px;
padding:10px
}
.desc{
    padding:20px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px black;
}
.product__list__item{
    float: left;
    width: 32.3%;
    margin-left: .5rem ;
}

.product__list__item:first-of-type{
    margin-left: 0;
}

@media screen and (max-width: 700px) {
    .product__list__item{
        width: 100%;
        float: none;
    }
}
  