* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(./assets/istockphoto-1277242852-2048x2048.jpg);
    color: white;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-position: center;
    background-size: cover;


}

.left {
    display: inline-block;
    /* border: 2px solid rgb(236, 13, 13); */
    position: absolute;
    left: 45px;
    top: 20px;


}

.left img {
    width: 110px;



}

.left div {
    text-align: center;

    /* line-height: 10px; */

}

.right {
    position: absolute;
    /* border: 2px solid rgb(235, 103, 196); */
    position: absolute;
    right: 34px;
    top: 25px;
    display: inline-block;

}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Baloo Bhaijaan 2", sans-serif;



}

.btn:hover {
    background-color: gray;
}

.mid {
    display: block;
    /* border: 2px solid rgb(197, 241, 1); */
    margin: 20px auto;
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 11px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 20px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: yellow;

}

.container {
    border: 2px solid rgb(244, 244, 241);
    margin: 140px 120px;
    padding: 40px;
    width: 50%;
    border-radius: 28px;
    background-color: rgba(0, 0, 0, 0.723);
    /* top: 2 */

}

.form-group input {
    text-align: center;
    font-size: 20px;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius: 8%;
    font-family: 'Courier New', Courier, monospace;
}

.container h1 {
    text-align: center;
    color: rgb(86, 218, 20);

}

.container button {
    display: block;
    width: 75%;
    margin: 20px auto;

}